.content {
	width: var(--conent-width);
	height: 100%;
}

.content__item {
	background-color: white;
	padding: var(--padding-base-ver) var(--padding-base-hor);
	margin-bottom: 10px;
	border-radius: 10px;
}
