.chat {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	border-left-width: 1px;
	border-left-color: var(--color-background-base);
	border-left-style: solid;
}

.chat__replicas {

}

.chat__new-replica {

}
