.app-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.app-body {
    display: flex;
	flex: 1 1 auto;
	justify-content: center;
	padding: var(--padding-base-ver) var(--padding-base-hor);
}
