.app-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.app-body {
    display: flex;
	flex: 1 1 auto;
	justify-content: center;
	padding: var(--padding-base-ver) var(--padding-base-hor);
}

.app-header {
    background-color: white;
    height: var(--header-height);
    display: flex;
	justify-content: center;
    width: 100%;
}

.app-header-content{
	display: flex;
	align-items: center;
	width: calc(var(--nav-width) + var(--conent-width));
}

.title{
	font-weight: bold;
	font-size: large;
}

.app-header img {
    height: 40px;
}

.nav {
	width: var(--nav-width);
}

.nav-item{
	padding: var(--padding-small);
}

.content {
    width: var(--conent-width);
	height: 100%;
}

.content-block{
	background-color: white;
	padding: var(--padding-base-ver) var(--padding-base-hor);
	margin-bottom: 10px;
	border-radius: 10px;
}

.profile-block{
	display: flex;
}

.profile-info{
}

.profile-info-item{
	margin: 0 16px 4px;
}

.profile-info-item-title{
	font-weight: bold;
	margin: 0 var(--padding-base-hor) var(--padding-base-ver);
}

.avatar img {
	height: 150px;
	width: 150px;
	border-radius: 150px;
}
