body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--color-background-base);
	font-family: var(--font-family-text);
	font-size: 16px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}

html {
	--color-background-base: #EDEEF0;
	--color-base: darkgray;
	--color-text-base: black;

	--padding-base-hor: 16px;
	--padding-base-ver: 8px;
	--padding-small-ver: 4px;
	--padding-small-hor: 12px;

	--header-height: 52px;
	--conent-width: 720px;
	--nav-width: 120px;

	--dialog-height: 64px;
	--dialogs-width: 220px;

	--margin-block-base: 10px;

	--border-radius-block: 10px;
	--border-radius-avatar: 150px;

	--font-family-text: 'Source Serif Pro', serif;

	--avatar-replica-size: 36px;
	--avatar-dialog-size: 52px;
}

.block {
	background-color: white;
	padding: var(--padding-base-ver) var(--padding-base-hor);
	margin-bottom: var(--margin-block-base);
	border-radius: var(--border-radius-block);
}

a {
	color: var(--color-text-base);
	text-decoration: none;
}

textarea {
	border-radius: var(--border-radius-block);
	background: transparent;
	height: 32px;
	margin: 0 auto;
	width: 100%;
	box-sizing: border-box;
	padding: 5px;
	font-size: 16px;
	resize:none;
	text-align-all: center;
}

textarea:focus {
	outline: none;
}
